<div class="container-fluid body-under-nav">
  <h2 class="text-center">Analyse</h2>
   <div class="row">
    <div class="col-lg-auto">
      <table class="table table-striped table-hover table-responsive-lg">
        <thead class="text-center scroll-down">
        <tr>
          <th class="table-info" scope="col">ID</th>
          <th class="table-info" scope="col">IDC</th>
          <th class="table-info" scope="col">PRM</th>
          <th class="table-info" scope="col">Contrat Demandé</th>
          <th class="table-info" scope="col">Contrat Initial</th>
          <th class="table-info" scope="col">Numéro d'affaire</th>
          <th class="table-info" scope="col">Portefeuille</th>
          <th class="table-info" scope="col">Prestation</th>
          <th class="table-warning" scope="col">Etat contractuel</th>
          <th class="table-warning" scope="col">Mode de relevé</th>
          <th class="table-warning" scope="col">Numéro DT</th>
          <th class="table-warning" scope="col">Statut DT</th>
          <th class="table-warning" scope="col">Préstation réalisée</th>
          <th class="table-warning" scope="col">Réalisation</th>
          <th class="table-success" scope="col">Etat Affaire</th>
          <th class="table-success" scope="col">Intervention</th>
        </tr>
        </thead>
        <tbody *ngFor="let sge of analyses.sge; let i = index"  class="text-center" >
        <tr>
          <td>{{sge.id}}</td>
          <td>{{sge.idc}}</td>
          <td>{{sge.prm}}</td>
          <td>{{sge.contratDemande}}</td>
          <td>{{sge.contratInitial}}</td>
          <td>{{sge.numeroAffaire}}</td>
          <td>{{sge.portefeuille}}</td>
          <td>{{sge.prestation}}</td>
          <td>{{analyses.gec[i].etatContractuel}}</td>
          <td>{{analyses.gec[i].modeReleve}}</td>
          <td>{{analyses.gec[i].numeroDt}}</td>
          <td>{{analyses.gec[i].statutDt}}</td>
          <td>{{analyses.gec[i].prestationRealise}}</td>
          <td>{{analyses.gec[i].realisation}}</td>
          <td>{{analyses.sgo[i].etatAffaire}}</td>
          <td>{{analyses.sgo[i].intervention}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
