<div class="container-fluid body-under-nav">
  <section id="search">
    <mat-card class="row border-box">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-4">
            <mat-form-field appearance="outline">
              <mat-label>Numéro d'Affaire</mat-label>
              <input matInput type="text" placeholder="A00AAAAA" class="text-center"/>
            </mat-form-field>
          </div>
          <div class="col-lg-4">
            <mat-form-field appearance="outline">
              <mat-label>PRM</mat-label>
              <input matInput type="number" placeholder="10000010000010" class="text-center"/>
            </mat-form-field>
          </div>
          <div class="col-lg-4">
            <mat-form-field appearance="outline">
              <mat-label>IDC</mat-label>
              <input matInput type="number" placeholder="9200000" class="text-center"/>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-3">
            <mat-form-field appearance="outline">
              <mat-label>Portefeuille</mat-label>
              <input type="text" placeholder="Portefeuille" aria-label="portefeuille" matInput
                     [formControl]="myPortefeuilleControl" [matAutocomplete]="autoPortefeuille">
              <mat-autocomplete #autoPortefeuille="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptionsPortefeuille | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="col-lg-3">
            <mat-form-field appearance="outline">
              <mat-label>Etat de l'affaire</mat-label>
              <input type="text" placeholder="Etat de l'affaire" aria-label="etatAffaire" matInput
                     [formControl]="myEtatAffaireControl" [matAutocomplete]="autoEtatAffaire">
              <mat-autocomplete #autoEtatAffaire="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptionsEtatAffaire | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="col-lg-3">
            <mat-form-field appearance="outline">
              <mat-label>Etat Contractuel</mat-label>
              <input type="text" placeholder="Etat contractuel" aria-label="etatContractuel" matInput
                     [formControl]="myEtatContractuelControl" [matAutocomplete]="autoEtatContractuel">
              <mat-autocomplete #autoEtatContractuel="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptionsEtatContractuel | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="col-lg-3">
            <mat-form-field appearance="outline">
              <mat-label>Etat Blocage</mat-label>
              <input type="text" placeholder="Etat blocage" aria-label="blocage" matInput
                     [formControl]="myBlocageControl"
                     [matAutocomplete]="autoBlocage">
              <mat-autocomplete autoActiveFirstOption #autoBlocage="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptionsBlocage | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <button mat-raised-button color="primary" type="submit" class="btn-block">Chercher</button>
      </div>
    </mat-card>
    <button type="submit" class="btn btn-outline-danger btn-sm float-sm-right">Masquer</button>
  </section>
  <table class="table-custom table-hover table-bordered" aria-describedby="table suivi des affaires">
    <thead class="scroll-down">
    <tr>
      <th class="table background" colspan="1" scope="col"></th>
      <th class="table background" colspan="2" scope="col"></th>
      <th class="table-success" colspan="4" scope="col">SGE</th>
      <th class="table-warning" colspan="2" scope="col">SGO</th>
      <th class="table-info" colspan="6" scope="col">GEC</th>

      <th class="table-danger" colspan="1" scope="col">BLOCAGE</th>
      <th class="table background border-white" colspan="1" scope="col"></th>
    </tr>
    <tr>
      <th class="table-light" scope="col">Numéro d'affaire</th>
      <th class="table-light" scope="col">PRM</th>
      <th class="table-light" scope="col">IDC</th>
      <th class="table-success" scope="col">Portefeuille</th>
      <th class="table-success" scope="col">Prestation</th>
      <th class="table-success" scope="col">Contrat Demandé</th>
      <th class="table-success" scope="col">Contrat Initial</th>
      <th class="table-warning" scope="col">Etat Affaire</th>
      <th class="table-warning" scope="col">Intervention</th>
      <th class="table-info" scope="col">Etat contractuel</th>
      <th class="table-info" scope="col">Mode relève</th>
      <th class="table-info" scope="col">Numéro DT</th>
      <th class="table-info" scope="col">Statut DT</th>
      <th class="table-info" scope="col">Prestation réalisée</th>
      <th class="table-info" scope="col">Réalisation</th>
      <th class="table-danger" scope="col">Origine du blocage</th>
    </tr>
    </thead>
    <tbody *ngFor="let blocage of analysesBlocage.content; let i = index" class="text-center">
    <tr>
      <th class="table-light" id="sge">{{blocage.sge.numeroAffaire}}</th>
      <td class="table-light">{{blocage.sge.prm}}</td>
      <td class="table-light">{{blocage.sge.idc}}</td>
      <td class="table-light">{{blocage.sge.portefeuille}}</td>
      <td class="table-light">{{blocage.sge.prestation}}</td>
      <td class="table-light">{{blocage.sge.contratDemande}}</td>
      <td class="table-light">{{blocage.sge.contratInitial}}</td>
      <td class="table-light">{{blocage.sge.sgo.etatAffaire}}</td>
      <td class="table-light">{{blocage.sge.sgo.intervention}}</td>
      <td class="table-light">{{blocage.sge.gec.etatContractuel}}</td>
      <td class="table-light">{{blocage.sge.gec.modeReleve}}</td>
      <td class="table-light">{{blocage.sge.gec.numeroDt}}</td>
      <td class="table-light">{{blocage.sge.gec.statutDt}}</td>
      <td class="table-light">{{blocage.sge.gec.prestationRealise}}</td>
      <td class="table-light">{{blocage.sge.gec.realisation}}</td>
      <td class="table-light">
        <label>
          <select #mySelect (change)="onChange(mySelect.value, blocage.id)">
            <option disabled selected>Non traité</option>
            <option value="SGE">SGE</option>
            <option value="SGO">SGO</option>
            <option value="GEC">GEC</option>
            <option value="nonTraite">Ne pas traiter</option>
          </select>
        </label>
      </td>
    </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
    <p class="float-right">nombre d'éléments affichés
      <label id="size">
        <select #myPagination (change)="onPagination(myPagination.value)">
          <option value="5">5</option>
          <option value="15">15</option>
          <option value="25">25</option>
        </select>
      </label>
    </p>
  </nav>
</div>

