.body-under-nav {
  padding-top: 80px;
}

.background{
  background-color: #F3EBF6;
  border-radius: 25px;
}

.scroll-down {
  overflow: scroll;
}

thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
  text-align: center;
  vertical-align: middle;
}

tbody td {
  text-align: center;
  vertical-align: middle;
}

button{
  margin: 10px;
}

