.body-under-nav {
  padding-top: 80px;
}

.background{
  background-color: #F3EBF6;
  border-radius: 25px;
}

.scroll-down {
  overflow: auto;
}

table-custom
{
  width: 300px;
  height: 100px;
  overflow: auto;
}

thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
  text-align: center;
  vertical-align: middle;
}

thead th:first-child {
  left: 0;
  z-index: 1;
}

tbody td {
  text-align: center;
  vertical-align: middle;
}

tbody th {
  position: -webkit-sticky;
  position: sticky;
  left: 0px;
  text-align: center;
  vertical-align: middle;
}

button{
  margin: 10px;
}

.border-box{
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
}
