<div class="login-wrapper body-under-nav" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Connexion
        <mdb-card-img src="assets/images/lock-user-symbol.png"></mdb-card-img>
      </mat-card-title>
    </mat-card-header>

    <form class="example-form" [formGroup]="loginForm" (submit)="login()">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <label for="username"><input id="username" formControlName="NNI" [(ngModel)]="credentials.username" matInput placeholder="NNI"></label>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <label>
            <input type="password" formControlName="password" [(ngModel)]="credentials.password" matInput placeholder="Mot de Passe">
          </label>
        </mat-form-field>
        <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
      </mat-card-content>
      <button mat-stroked-button type="submit" color="primary" class="btn-block">Login</button>
    </form>
    <p class="font-small grey-text d-flex justify-content-end">Pas inscrit?
      <a routerLink="/register" routerLinkActive="active" class="blue-text ml-1"> Enregistrez-vous</a>
    </p>
  </mat-card>
</div>
