<div id="navbar" class="fixed-top">
  <nav class="navbar navbar-expand-lg navbar-light bg-light border box">
    <div class="collapse navbar-collapse">
      <a class="navbar-brand" routerLink="/">
        <img class="w-50 h-50" src="assets/images/logo-ENEDIS.png" alt="logo">
      </a>
      <a [hidden]="!authenticated()" class="btn btn-light buttonHeader mr-auto" routerLink="/synthese" role="button">
        <img src="assets/images/baseline_multiline_chart_black_18dp.png" alt="synthese">
        Synthèse
      </a>
      <a [hidden]="!authenticated()" class="btn btn-light buttonHeader mr-auto" routerLink="/analyse" role="button">
        <img src="assets/images/baseline_work_outline_black_18dp.png" alt="analyse">
        Analyse
      </a>
      <button [hidden]="authenticated()" class="buttonHeader btn btn-light ml-auto" routerLink="/login" routerLinkActive="active">
        <img src="assets/images/baseline_account_circle_black_18dp.png" alt="utilisateur">
        Login
      </button>
        <button [hidden]="!authenticated()" class="buttonHeader btn btn-light ml-auto" routerLink="/compte" routerLinkActive="active">
        <img src="assets/images/baseline_account_circle_black_18dp.png" alt="utilisateur">
        {{usernameSession()}}
      </button>
      <button [hidden]="!authenticated()" class="buttonHeader btn btn-light ml-auto danger" (click)="logout()">
        <img src="assets/images/baseline_power_settings_new_black_18dp.png" alt="deconnexion">
        <b>Déconnexion</b>
      </button>
    </div>
  </nav>
</div>
<div class="container">
<router-outlet></router-outlet>
</div>
