.box{
  box-shadow: 0px 10px 5px grey
}
.texte:hover
{
  color : black;
}
.buttonHeader{
  outline: none;
  border: 0;
  box-shadow: none;
  background-color: transparent;
}
.danger{
  color: red !important;
  font-weight:bold;
}
.success{
  color: lawngreen !important;
  font-weight:bold;
}

.navbar-container {
  position: sticky;
  display: block;
}
.background{
  background-color: #F3EBF6;
  border-radius: 25px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
